* {
  margin: 0;
  padding: 0;

}

body {
  background-color: #303134;
  font-family: "JetBrains Mono", monospace!important;
  
}
/* MUI CUSTOM CSS ---START */
.MuiFormLabel-root.Mui-focused {
  color: white !important;
}
.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: white !important;
}

.custom-localization-provider {
  border: none;
}
/* .MuiCircularProgress-colorPrimary {
  color: rgb(20, 241, 149) !important;
} */
/* MUI CUSTOM CSS ---END */
/* vision  */
:root {
  --profile-card-bg:#303134;
  --profile-container-bg:#1E1E1E;
  --dashboard_bg: #303134;
  --second-dark: #1c1b1b;
  --card: #24262b;
  --black:#000000;
  --bg-c: #415c71;
  --p: rgb(255, 0, 111);
  --main: rgb(20, 241, 149);
  --main-back: #100F0F;
  --advance: #0F3D3E;
  --shadow: 0 3px 3px 0 #171717;
  --new-dark:#1E1E1E;
  --mobile-shadow: 0 4px 6px 0 #171717 ,0 -0px 6px 0 #0e0d0d;
  --shadow2: 0 1.5px 1.5px 0 #302a2a;
  --primary-font:"JetBrains Mono", monospace;
  --mobile-client-card-bg:#191a1f;

}
svg{
  font-size: xx-large;
  padding: 0px;
}


/* options container */
.filters-container{
  background-color: var(--second-dark);
margin-left: 0px !important;
display: grid;
position: absolute;
width: 200px;
max-width: 350px;
padding: 13px;
left: calc(50% - 83px);
top:calc(50% - 60px);
border-radius: 7px;
box-shadow:0px 1px 3px rgb(46, 43, 43);
font-family: sans-serif;
z-index: 999;
}
.filters-container input{
margin: 7px;
}
.filters-container label{
  height: 35px;
  cursor: pointer;
}
.filters-container table:hover{
  color: var(--main);
}
.filters-container input[type=checkbox]{
  transform: scale(2);
  cursor: pointer;
  margin-right: 1rem;
}
.filters-container input[type=checkbox]:checked {
  background-color: var(--main) !important;
  color: #ffffff !important;
}
.filters-container button
{
  margin-top: 9px;
  background-color: var(--main);
  border: none;
  padding: 5px 7px;
  width: 70%;
  border-radius: 5px;
  margin-right: auto;
  margin-left: auto;
  cursor: pointer;
  color: black;
  font-weight: 500;
  font-size: medium;
}
.filters-container button:hover{
  background-image:linear-gradient(var(--main) 0,#0a5456  100%) ;
}
/* css for Dialog --Start */
dialog {
  background-color: var(--card);
  border: none;
  border-radius: 25px;
  height: max-content;
  padding-bottom: 9px;
  width: 350px;
  position: fixed;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20%;
  margin-bottom: auto;
  color: white;
  box-shadow: 0px 0px 150px 15px gray;
}

/* advance Navabar -- start */
.advance-nav{
  display: flex;
  position: sticky;
  height: 100vh;
  gap: 1.5rem;
  flex-direction:column;
  width: 15%;
  background-color:var(--black);
  /* border-right: 3px solid rgb(31, 31, 31); */
  
}
.advance-nav button {
  cursor: pointer;
  border-radius: 4px 0px 0px 4px ;
  /* max-width: 90%; */
  width: 100%;
  margin-left: 7px;
  justify-content: left;
  height: 40px;
  display: flex;
  flex-wrap: nowrap;
  color: white;
  text-align: center;
background-color: transparent;
border:none;
padding-top: 4px;
padding-left: 13px;
}
.advance-nav button :hover{
  color: var(--main)!important;
}
.advance-nav button span{
  text-align: center;
  height: 28px;
  font-weight: 700;
  font-size: 1rem;
  display: flex;
  padding-left:7px ;
  padding-top:5px ;
  margin-top: auto;
  margin-bottom: auto;
}
.advance-nav button svg{
  height: 28px !important;
  width: 28px !important;
}
.advance-nav .logout-btn{
  margin-top: auto;
  background-color: var(--bg-c) !important;
  width: 90%;
  border-radius: 7px !important;
  
}
.logout-btn:hover{
  background-color: red !important;

}
 .logout-btn::hover .logout-icon{
  color: red !important;
}

/* advance Navabar -- end */


/* share link dialog css --start */
.link-validity-container{
  display: grid;
  gap: 7px;
  width: auto;
  max-width: 98%;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.input-and-selection-container{
  display: flex;
  background-color: #1E1E1E;
  /* padding: 3px; */
  border-radius: 5px; 
  border: 1px solid white;
  height: 56px;
  
}
.input-and-selection-container select{
  background-color:transparent!important; ;
  border: none !important;
  color: #ffffff;
  outline: none !important;
}
.input-and-selection-container >select>option{
  background-color: black ;
  outline: none!important;
  border: none !important;
}
.time-inp{
  background-color: transparent;
  color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  max-width: 60%;
}
.link-inp{
 height: 25px;
 background-color: transparent;
 border-radius: 5px;
 border: none;
 padding: 7px;
}
.link-validity-container p{
  word-wrap: break-word; /* For legacy browsers */
  overflow-wrap: break-word;
 color: rgb(2, 234, 255);
 font-family: "JetBrains Mono", monospace;
  text-align: left;
} 
/* share link dialog css --end */

.sort-by-and-add-user-container{
  display: flex;
  position:static !important;
  justify-content: space-between;
  background-color: transparent;
  padding: 5px;
  width: 91%;
  margin-top: 1rem;
  margin-left: 2.5%;
  margin-right: auto;
}

/* add user icon css for large screen ---start */
.add-user-icon-container, .sort-by{
  position:static;
  background-color:var(--new-dark);
  font-size: large;
  width: auto;
  justify-content: center;
  place-items: center;
  padding: 3px 10px;
  display: flex;
  justify-content: center;
  padding: 3px 7px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: var(--shadow2);
  position: static;
  
}
.add-user-icon-container:hover,.sort-by:hover,.add-transaction-icon:hover{
  color: var(--main);

}
.sort-by::after{
  content: "Filters";
  text-align: center;
  display: flex;
  padding-left: 3px;
}
.add-user-icon-container::after{
  content:"New Client"; 
  text-align: center;
  display: flex;
  padding-left: 3px; 
}
/* add user icon css for large screen ---end */
/* sort by css ---start for large screen */


/* sort by css ---end for large screen */

dialog>.title {
  margin-top: 10px;
  text-align: center;
  padding: 5px;
  width: 94%;
  border-radius: 25px;
  margin-left: 2%;
  /* border-bottom: 1px solid white; */
  color: var(--main);
  font-family: "JetBrains Mono", monospace;
  font-weight: 500;
  font-size: large;
  /* background-color: black; */
}

dialog>.text {
  padding: 5px 7px;
 
}

dialog>.link-container {
  padding: 5px;
  display: flex;
  width: 100%;
  margin-left: 5px;
}

dialog>.link-container>.link {
  width: 75%;
  overflow: scroll;
  color: var(--p);
  background-color: black;
  padding: 3px 9px;
  border-radius: 3px;
  font-size: small;
  outline: none;
  border: none;

}

dialog>.link-container>.copy-btn {
  cursor: pointer;
  color: var(--main);
  position: relative;
  background-color: black;
  padding: 4px 6px;
  border: none;
  margin-left: 2px;
  box-shadow: var(--shadow);
  border: 1px solid var(--main);
  font-weight: 500;
  border-radius: 3px;

}

dialog>.link-container>.copy-btn:hover {
  color: black;
  background-color: var(--main);

}

dialog>.close-icon {
  /* background-color: orange; */
  color: white;
  font-weight: 750;
  cursor: pointer;
  margin-top: 5px;
  background-color: gray;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  padding: 5px 9px;
  border-radius: 5px;
  border: none;
}

/* css for Dialog --End */
/* svg css ---start */
.background {
  fill: var(--bg-c);
}

.wave {
  fill: #3498db;
}

.chart-line {
  fill: none;
  stroke: #2ecc71;
  stroke-width: 2;
}

.chart-area {
  fill: #2ecc71;
  opacity: 0.3;
}

.text {
  font-family: Arial, sans-serif;
  fill: #ffffff;
  font-size: 16px;
}

/* svg css ---End */
sub {
  color: white;
}
/* home-navbar css --start */

.home-navbar{
  padding-top:9px ;
  height: 45px;
  display: flex;
  background-color: rgb(27, 24, 24) !important;
  /* background-color: red !important; */
}
.home-navbar a{
  color: white;
}
.home-navbar a:hover{
  color: var(--main);
}

.nav-option-container{
  display: flex;
  padding: 5px;
  margin-left: auto;
}

.home-navbar div a{
  padding: 7px;
text-decoration: none;
font-weight: 700;
}
.logo{
  display: flex;
  justify-content:left;
  margin-top: 0!important;
  margin-left: 1rem;
  height: 30px;
  width: 70px;

}

.logo-image {
  margin-top: 0px;
  display: flex;
  height:40px;
  width: max-content;
  padding: 0px!important;
/* background-color: red; */
}
.logo2{
  height: 60px;
  margin-top: auto;
  margin-bottom: auto;
  /* background-color: red; */
}
/* home-navbar css --end */



.user {
  width: 25px;
  border-radius: 50px;
}













.title h2 {
  display: flex;
  width: auto;
  margin-left: 10%;
  margin-top: 20vh;
  padding: 5px;
  font-size: xx-large;
  color: rgb(255, 255, 255);
}



.get-btn {
  background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
  height: 50px;
  margin-left: 45%;
  margin-top: 0%;
  margin-bottom: 15%;
  color: black;
  font-weight: 600;
  font-size: large;
  border-radius: 50px;
  padding: 5px 15px;
  cursor: pointer;

}

.get-btn:hover {
  border-radius: 65px;
  /* box-shadow: 5px 5px gray ; */
  border: none;

}

.one {
  color: rgb(5, 5, 5);
  width: 85vw;
  margin-left: 2%;
  margin-right: 0.5vw;
  margin-top: 10%;
  padding: 25px;
  border-radius: 5px;
  font-size: medium;
   font-family: var(--primary-font);
  background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
}

.one h1 {
  font-family: "JetBrains Mono", monospace;
}

.two {
  color: black;
  width: 85vw;
  margin-left: 2%;
  margin-right: 3%;
  margin-top: 5%;
  padding: 25px;
  border-radius: 5px;
  font-size: medium;
  background: rgb(238, 174, 202);
  background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
  margin-bottom: 10%;

}

.two h1 {
  font-family: "JetBrains Mono", monospace;
}

.events {
  background: rgb(34, 193, 195);
  background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
  margin-left: 3%;
  border-radius: 5px;
  padding: 15px;
}

.event-container {
  display: flex;
  overflow-x: scroll;
  padding: 10px;

}

.events h1 {
   font-family: var(--primary-font);;;
}

.event {
  padding: 15px;
  margin: 5px;
  height: 150px;
  padding-top: 25px;
  background-color: black;
  color: white;
  border-radius: 0% 25% 0% 25%;
  margin-right: 5px;
  text-align: center;
  box-shadow: 2px 2px 2px orange, -2px -2px 2px orange;
}

.close {
  color: rgb(250, 3, 3);
  font-weight: 700;
  cursor: pointer;
  font-size: x-large;
  position: absolute;
  top: 0px;
  right: -6px;
  margin-left: auto;
}

.close:hover {
  color: var(--main);
}

.footer {
  margin-top: 5%;
  position: absolute;
  border-top: 1px ridge var(--p);
  width: 100%;
  /* box-shadow: 0px -5px 5px gray; */
  height: 120px;
  display: flex;
  flex-direction: row;
}

.footer h4 {
  margin: 15px;
  color: var(--main);
  margin: 15px;
  font-size: x-large;
}

.footer ul {
  color: white;
  margin: 15px;
}

.footer ul li {
  list-style-type: none;
  padding: 15px 20px;
  cursor: pointer;
}

.footer ul li:hover {
  margin-left: 5px !important;
  border-left: 2px solid var(--main);
  color: var(--main);
  font-weight: 800;

}

.copy {
  position: absolute;
  color: gray;
  bottom: -100px;
  padding: 10px;
  text-align: center;
  margin-top: 150px;
  margin-left: 25%;

}

.login-container {
  width: 100vw;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  place-items: center;
  height: 100vh;
}

.Login {
  background-color: black;
  color: white;
  height: auto;
  margin-top: auto;
  margin-bottom: auto;
  box-shadow: 0px 0px 10px rgb(48, 37, 37);
  width: 330px;
  justify-content: center;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  gap: 7px;
  height: 450px;

}


.Login h2 {
  margin-top: 13px;
  color: white;
  text-align: center;
  padding: 7px;
  font-size: xxx-large;
  margin-bottom: 3%;
  font-weight: 100;

}

.Login input {
  margin-right: auto;
  margin-bottom: 5%;
  width: 90%;
  margin-left: 2%;
  background-color: rgb(2, 2, 2);
  display: grid;
  height: 45px;
  border-radius: 25px;
  /* text-align: center; */
  padding-left: 15px;
  border: 2px solid white;
  color: white;
  font-size: medium;
  outline: none;
  /* outline-style: solid;
 outline-width: 2px;
 outline-color: var(--main); */

}

.pass {
  /* margin-left: auto; */
  margin-left: 2%;
  width: 94%;
  display: flex;
  border: 2px solid white;
  height: 45px;
  border-radius: 25px;
  margin-bottom: 5%;
}

.pass input {
  border: none;
  width: 95%;
}

/* for  password  ---Start */
.pass p {
  margin-right: 0px;
  text-align: center;
  justify-content: center;
  place-self: center;
  margin-top: -4px;
  margin-right: 9px;
}

/* for  password  ---End */

*.swal2-popup {
  width: 480px;
  height: 280px;
  background-color: #313131;
  color: white !important;
  border-radius: 20px !important;
  border: 1px solid rgb(180, 179, 179) !important;
}

.swal2-container.swal2-backdrop-show,
.swal2-container.swal2-noanimation {
  background: rgba(0, 0, 0, .7) !important;
}

.Login span {
  color: red;
  margin-right: 25px;
  margin-left: 25px;
  margin-top: -15px;
  padding-bottom: 0px;
  font-weight: 500;
  text-align: center;
  font-size: small;
  width: 33%;
  padding: 0;
}

.Login span :last-child {
  width: 40%;
}

.Login button {
  margin-left: auto;
  margin-right: 5%;
  height: 50px;
  width: 50%;
  border-radius: 10px;
  cursor: pointer;
  background-color: var(--main);
  font-weight: bold;
  font-size: large;
  color: var(--main-back);

  font-weight: 700;
  border: 2px solid var(--main);
}

.Login .reg-btn {
  margin-left: 40%;
  margin-top: 0px;
  outline: none;
  border: 2px solid var(--main);
  background-color: var(--main);
  color: var(--main-back);
}

.log-btn {

  border: 2px solid var(--main);
  background-color: transparent;
  color: var(--main);
}

.log-btn:hover,
.reg-btn:hover {
  background-color: var(--main);
  color: black;
}


.Login a:visited a:active {
  text-decoration: none;
  color: rgb(20, 241, 149);

}



.Login p {
  margin-top: 20px;
  margin-left: 20px;
  padding-bottom: 25px;
}

.Login a {
  margin-top: 15px;
  margin-left: 15px;
  color: var(--main);
  text-decoration: none;
  font-size: medium;
}

.Login p a {
  text-decoration: none;
  color: var(--main);
  margin-left: 5px;

}


/* master class for dashboard component  */
.dashboard {
   font-family: var(--primary-font);;;
  color: white;
  display: flex;
  background-color: #303134 !important;
}

/* for navbar In DashBoard Section  */
/* dashboard.left {
  width: 8%;
  max-width: 100px;
  height: 97vh;
  margin-left: 1%;
  margin-top: 1vh;
  border-radius: 20px;
} */
.left {
  background-color: #303134;
  margin-left: 7px;
  padding: 9px;
}

.left a  {
  margin-top: 5%!important;
  color: white;
  text-decoration: none;
  display: block;
  text-align: center;
  margin-bottom: 5vh;
  font-size: large;
  font-weight: 900;
  padding: none;

}

.left a:hover {
  color: var(--main);
  /* background-color: rgb(81, 80, 80); */
  width: auto;
  border-radius: 10px;

}


/* .left a:first-of-type {
  margin-top: 15vh;
} */




/* logout button in dashboard */
/* .d-logout {
  margin-top: 25vh;
  color: white;
  cursor: pointer;
  font-size: xx-large;
} */



/* add user button in dashboard */
.d-adduser {
  font-size: xx-large !important;
  color: white;
}

.d-adduser:hover {
  color: var(--main);
  cursor: pointer;
}
/* add transaction icons for desktop ----Start*/
.add-transaction-icon{
  background-image:linear-gradient(var(--main) 0,#0a5456  100%) ;
  height: 25px;
width: 25px;
  width: fit-content;
  padding: 7px 5px;
  border-radius: 9px;
  justify-content: center;
  text-align: center;
  align-items: center;
  display: flex;
  position:absolute;
  cursor: pointer;
  left: 45%;
  transform: translate(-50% -50%); 
  /* border: 1px solid var(--main); */
/* position: relative; */
  top:20.5%;
}
.add-transaction-icon:hover{
  transform: scale(1.05);
  color: black;

}
.add-transaction-icon::after{
  content: "New transaction";
  font-size: large;
  /* font-family: fantasy; */
}
.add-transaction-icon svg{
  transform: scale(1.2);
  
}
/* add transaction icons for desktop ----End */
svg {
  width: 100%;
}


.right,
.t-right {
  background-color: var(--dashboard_bg);
  margin: 1vh;
  width: 95%;
  margin-left: 10px;
  height: 97vh;
  border: 2px solid rgb(4, 4, 4);
  border-radius: 20px;
  overflow: scroll;
  padding-bottom: 9px;
}

/* in dashboard input and generate report section */
.upper-container {
  display: flex;
  margin-top: 2%;
  
}

/* for searc box in dashboard */
.search-container{
  width: 55%;
  display: flex;
  height: 28px;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  border-radius: 25px;
  padding: 5px ;
  border: 2px solid white;
}
.search-container .search-p{

  width: 7%;
  height: 98%!important;
  font-size: 65px !important;
}
 .search-container input {
/* background-color: orange; */
  background-color: transparent;
  height: 99%;
  border:none;
  width: 93%;
  color: white;
  outline: none;
  border-radius: 25px;
  padding: 5px;
  text-align: center;
  font-weight: bold;
}

/* heading of dashboard */
.upper-container .heading {
  margin-left: 2vw;
}

/* generate report button */
.upper-container .generateR {
  margin-left: auto;
  margin-right: 1.5vw;
  border-radius: 10px;
  font-size: small;
  background-color: black;
  color: var(--main);
  cursor: pointer;
  border: 1.5px solid var(--main);
  box-shadow: var(--shadow);
}

/* for user-search icon  */
/* .search-p {
  color: gray;
  font-size: xx-large;
  margin-left: 0vw;
  position: relative;
  left: 8vw;
  top: 1vh;
  width: auto;
} */

/* container for overview and chart /second container after search and headings 


*/
/* second container in dash */
.d-container2 {
  display: flex;
}

/* for details ,left side of second container */
.d-overview {
  /* border: 1px solid orange; */
  background-color: #303134;
  width: 50%;
  margin-left: 2%;
  margin-top: 3%;
  border-radius: 5px;
  height: 20vh;
  max-width: 50%;
  text-align: center;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 9px;
  box-shadow: 0 4px 6px 0 #171717;
}

.d-balance {
  /* dashboard balance */
  color: white;
  font-size: xx-large;
  text-align: center;
  width: auto;
  height: 38%;
  padding: 7px;
}

 /* contaner which contains higesh and lowest debitor in the list*/
.d-hl-container {
 
  /* border :2px solid green; */
  margin-top: auto;
  margin-bottom: 0px;
  width: auto;
  height: 50%;
  display: flex;
  text-align: center;
  /* background-color: black; */
}

.d-high {
  /* higest value*/
  width: 48%;
  margin-left: 5px;
  padding: 7px 5px;
  color: green;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  padding-top: 15px;
  padding-bottom:1rem;
  overflow: hidden;
  box-shadow: 0 3px 4px 0 #1b201b;
}

.d-high div {
  display: grid;
  gap: 5px;
  color: white;
  text-transform: uppercase;
  text-overflow: ellipsis;
  padding-bottom: 10px;

}

.d-low div {
  display: grid;
  gap: 5px;
  color: white;
  text-transform: uppercase;
}

.d-low div span,
.d-high div span,
.d-low p,
.d-high p {
  font-size:medium ;
  padding: 0;
}

/* {
  /* position: "relative", backgroundColor: "gray", color: "black", padding: "5px 7px", borderRadius: "100px", float: "right", margin: "0", button: "50px", fontWeight: "900", fontSize: "x-small" */


.d-low p,
.d-high p {
  background-color: gray;
  width: fit-content;
  padding: 2px;
  border-radius: 5px;
  color: black;
  position: relative;
  float: right;
  position:static;

}

/* .dashboard .left .d-logout {
  margin-top: 15rem;
  box-shadow: none;
  font-size: xx-large;
  color: red;
  background-color: var(--card);
  padding: 0px;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  box-shadow: var(--shadow);
} */
.profile .left .d-logout {
  margin-top: 16rem;
}
.d-logout:hover{
  color: red;
}

.transactions .left .d-logout {
  margin-top: 25rem;
  box-shadow: none;
  font-size: xx-large;
  color: white;
  padding: 0px;
}
.scroll-down{
  cursor: pointer;
  background-color:var(--black);
  box-shadow: 1px 1px 2px rgb(55, 54, 54);
  height: 25px;
  width: 25px;
  padding: 5px;
  display: flex;
  text-align: center;
  position: sticky;
  border-radius: 50px;
bottom: 5px;
top: 87%;
left: calc(50% - 25px);

}
.scroll-down:hover{
 background-color: var(--main);
 border-radius: 50px;
}
.scroll-down:hover svg{
  color: black !important;
}
.scroll-down svg{
  height: 30px;
  width: 25px;
}
d-logout:hover {
  color: red;
}
/* profile css ----start */
.profile {
  padding: 0;
  margin: 0;
background-color:var(--dashboard_bg) !important;
width: 100%;
}


.profile >.profile-right-sec{
  width: 95%;
  display: flex;
  /* flex:1; */
  flex-wrap: wrap;
  margin:  0px ;
  background-color: var(--dashboard_bg);
  height: 100vh;
  overflow-y:scroll ;

}
.profile> .profile-right-sec> .left-container,
.profile> .profile-right-sec> .right-container{
  display: flex;
  width: 48.5%;
  flex-direction: column;

  height: auto;
}
.profile >.profile-right-sec >.left-container >.left-upper{
  display: grid;
  flex-direction:column;
  gap: 2px;
  background-color:var(--profile-container-bg);
  width: 98%;
  margin: 2%;
  height: max-content;
  box-shadow: var(--card);
  border-radius: 7px;
  padding: 12px 5px;

}

.profile >.profile-right-sec >.left-container >.left-upper>.profile-pic{
  margin: auto;
  margin-top:10px;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  text-align: center;
  padding: 10px;
  font-size: 45px;
  color: var(--main);
  background-color: var(--black);


}
.profile >.profile-right-sec >.left-container >.left-upper>.profile-name{
  padding-top: 17px;
  text-align: center;
  font-size: large;
}
hr{
  margin-bottom: 7px;
  margin-top: 7px;
}
.left-lower>.share-link-wrappwer{
  padding: 9px 5px;
  background-color: #1E1E1E;
  width: 98%;
  margin: 2%;
  margin-top: 0;
  height:370px;
  box-shadow: var(--card);
  border-radius: 7px;
  
}
.user-wrapper>p ,.left-lower>.share-link-wrappwer>p{
  /* text-align: center; */
  font-weight: 650;
  font-size: large;
  padding: 5px 0px;
  margin-left: 5px;
}
/* container which contains all shared link cards */
.users-container,.left-lower>.share-link-wrappwer>.share-link-container{
  overflow-y: scroll;
  height: 88.5%;
  
  
  /* background-color: red; */
}
.share-link-card{
  display: flex;
  width: 96%;
  height: 35px;
  justify-content: space-between;
  padding: 7px 3px;
  text-align: center;
  place-items: center;
  background-color: var(--profile-card-bg);
  margin:auto ;
  margin-top: 5px;
  border-radius: 7px;
}
.share-link-card span:first-child{
text-transform: capitalize;
font-weight: 550;
  margin-left: 2.5%;
}
.share-link-card svg{
  cursor: pointer;
}
.share-link-card svg:last-child{
  margin-right: 1.5%;
}

.share-link-card  .cli
/* .profile >.profile-right-sec >.left-container>.left-lower >.share-link-container,svg, p ,span{
  margin-top: auto;
  margin-bottom: auto;
} */
svg{
  cursor: pointer;
}
svg:hover{
  color: var(--main);
}
.profile-settings-container{
  margin-bottom: 5%;
}
.active-link{
  height: 9px;
  width: 9px;
  background: var(--main);
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 100px;
  cursor: pointer;
}
.expired-link{
  height: 9px;
  width: 9px;
  background: red;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 100px;
  cursor: pointer;
}

.profile >.profile-right-sec >.right-container{
  margin-left: 2%;
  height: 100%;
  border-radius: 7px;
  margin-bottom: 1.5rem;
  /* background: red; */
}

.profile >.profile-right-sec >.right-container>.right-upper,.right-lower{

  margin-top:2%;
background-color: var(--profile-container-bg);
width: 98%;
height: 370px;
border-radius: 7px;
/* background: orange; */
padding: 9px 5px;

}

.profile >.profile-right-sec >.right-container>.right-upper>.user-wrapper,
.profile >.profile-right-sec >.right-container>.right-lower>.user-wrapper{
  background-color: var(--profile-container-bg);
  height: 99.8%;

  
}
.profile-settings-container{
  /* background-color: orange; */
  margin-bottom: 5%;
  height: max-content;
  padding-bottom: 13px;
}

.profile >.profile-right-sec >.right-container>.right-upper>.user-wrapper>.users-container,
.profile >.profile-right-sec >.right-container>.right-lower>.user-wrapper>.users-container{
  overflow-y: scroll;
  height: 88.5%;

}
/* profilr css ----end */

@media (max-width:1200px) {
.dashboard{
  overflow: hidden;
}

.d-low p,
.d-high p {
  font-size:smaller !important;
  padding: 0px 1px;
  border-radius: 3px;
}
.d-high div span{
  /* background-color: red; */
  width: 100%;
}
.d-low div span,
.d-high div span{
  font-size: small!important;
  overflow-x: hidden;
}
.d-high p,.d-low p {
  background-color: rgb(221, 215, 215);
  color:var(--black);
  font-weight: 500;
}
.dashboard .right{

  width: 81vw;
}
.profile-right-sec{

  /* background-color: red!important; */
  width: 75vw;
}
.profile .profile-right-sec .right-container,.profile .profile-right-sec .left-container{
  /* background-color: orange; */
  width: 83vw;

}


  /* logo ---start */
  .logo{
    padding: 0px;
    margin: 0;
    font-weight: 100;
    font-size: medium;
  }
  .small {
    padding-top: 0px;
    padding-bottom: auto;
    font-size: 1.3rem!important;
    text-align: center;
    width: 100%;
    height: 15px !important;
    justify-content: center;
    place-items: center;
    font-weight:500;
    font-family: "JetBrains Mono", monospace;
  }
  /* logo ---end */

  .d-overview,
  .d-chart {
    height: 20vh!important;
    /* box-shadow: 0px 0.2px 0.2px 1px rgb(11, 11, 11) !important; */
  }
  .d-chart{
    width: 30%;
  }
  .d-overview{
    width: 70%;
  }
  /* navbar style for medium screens ---start */
  .advance-nav button{
    width: auto;
    justify-content: center;
    padding-left: 0;
  }
  .advance-nav button span{
    display: none;
  }
  /* navbar style for medium screens ---end */
  .add-transaction-icon{
    background-image:linear-gradient(var(--main) 0, var(--advance) 100%) ;
    height: 35px;
    width: 35px;
    width: fit-content;
    padding: 9px;
    border-radius: 15px;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
    position:absolute;
    left: 87%;
    transform: translate(-50% -50%); 
    /* border: 1px solid var(--main); */
  /* position: relative; */
    top:75%;
  }
  .add-transaction-icon::after{
    content: "";
    /* font-family: fantasy; */
  }
  .add-transaction-icon svg{
    transform: scale(1.5);
    color: black;
  }
  .add-transaction-icon:hover{
    transform: scale(1.05)
  }

  .d-low div,.d-high>div {
    height: max-content !important;
    overflow: auto;
  }

  .d-balance {
    /* dashboard balance */
    padding-top: 20px;
    color: white;
    font-size: large;
    text-align: center;
    width: auto;
    height: 38%;
    padding: 7px;
  }

  .d-hl-container {
    height: 50%;
    font-size: small !important;
  }

  .d-high>div>span {
    font-size: small !important;
    text-transform: uppercase;
    height: max-content;

  }

  .search-container{
    height: 25px;
  }



}

/* media 1200 --End */





.d-low {
  /*Lowest value*/
  width: 48%;
  margin-left: 5px;
  padding: 7px 5px;
  color: green;
  /* border: 1px solid gray; */
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  margin-right: 2%;
  padding-top: 15px;
  overflow: hidden;
  background-color: #303134;
  box-shadow: 0 3px 4px 0 #1b201b;
}


.d-chart {
  width: 40%;
  height: 20vh;
  margin-left: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
  border-radius: 5px;
  /* height: 20vh; */
  box-shadow: 0 4px 6px 0 #171717;
  background-color: #303134;
  padding: 2px;
  padding-bottom: 9px;
  text-align: center;

}

canvas {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  height: fit-content !important;
  width: 50%!important;
  cursor: pointer;
  /* height: fit-content; */
}

.d-clients-container {
  /* background: #121212; */
  /* margin-top: 2.25rem; */
  height: 55%;
  overflow: scroll;
}

.d-clients-container table {
  padding-bottom: 25px;
  border-collapse: separate;
  border-spacing: 0px 10px;
  width: 90%;
  margin-left: 4%;
  overflow-y: auto;
  overflow-x: scroll;
   font-family: var(--primary-font);;;
  /* height: 100%; */
  /* background-color: #303130; */
  /* box-shadow: var(--shadow); */
}

.d-clients-container table thead {
  position:sticky;
  top: 0;
  background-color: black;
}

.d-clients-container table thead tr th:first-child {
  padding: 1rem;
  border-radius: 5px 0px 0px 5px;
}

.d-clients-container table thead tr th:last-child {
  border-radius: 0px 5px 5px 0px;
}

.d-clients-container table tbody {
  width: 100%;
  overflow-y: scroll;

}

.d-clients-container table tbody tr {
  padding: 0.2rem;
  text-align: center;
  margin-top: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 2.2px 0 #373636;
  border-radius: 5px;
  border-bottom: 3px solid black;

}
.d-clients-container table tbody tr:hover td{
  background-color:var(--black);
  color: var(--main);
}
.d-clients-container table tbody tr td {
  padding: .2rem;
  text-align: center;
  height: 3.2rem;
  margin-top: 10px;
  height: 55px;
  font-size: large;
   font-family: var(--primary-font);;;
  /* box-shadow: var(--shadow); */
  background-color: var(--mobile-client-card-bg);
text-transform: capitalize;
  /* border-radius: 50px; */
}

.d-clients-container table tbody tr td:first-child {
  border-radius: 7px 0px 0px 7px;
}

.d-clients-container table tbody tr td p {
  color: var(--main) !important;
}

.d-clients-container table tbody tr td a:hover {
  font-weight: 600 !important;

}

.d-clients-container table tbody tr td:last-child {
   font-family: var(--primary-font);;;
  font-size: large;
  border-radius: 0px 7px 7px 0px;
}

.Login {
  height: auto;
  width: 380px;
  margin-top: 9%;
}














::-webkit-scrollbar {
  display: none;
}




.client:hover {
  border: 1px solid white;
}

.name {
  padding: 15px;
  float: left;
  width: auto;
  font-size: x-large;

}

.date {
  text-align: center;
  padding: 15px;
  margin-left: auto;
  font-family: monospace;
  color: gray;
  font-size: large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.amount {
  position: relative;
  width: auto;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  float: right;
  margin-left: auto;
  margin-right: 5%;
  padding: 15px;
  font-size: large;
}

.small {
  padding-top: auto;
  padding-bottom: auto;
  font-size: 2.5rem;
  text-align: center;
  margin-left: -8px;
  width: 100%;
  height: 25px;
  justify-content: center;
  place-items: center;
  font-weight: bold;
  font-family: "JetBrains Mono", monospace;
}

.transactions {
   font-family: var(--primary-font);;;
  color: white;
  display: flex;
}

/* css for Share Page=>  ---start*/
.logo-and-join-container-at-shate-page {
  display: flex;
}

.join-btn {
  border: 1.5px solid var(--main);
  /* border: none; */
  border-radius: 5px;
  padding: 3px 13px;
  height: fit-content;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 16px;
  margin-left: auto;
  /* color: black; */

  font-weight: 450;
  text-decoration: none;
  box-shadow: 0px 0px 3px 3px rgb(30, 29, 29);
  color: var(--main);
}

.join-btn:hover {
  background-color: var(--main);
  color: black;
  border: none;
}

.share-container {
  margin: auto;
  margin-top: 3px;
  height: auto;
  padding: 5px;
  max-width: 400px;
  background-color: var(--second-dark);
  color: white;
   font-family: var(--primary-font);;;
  border-radius: 5px;
  box-shadow: 0px 0px 9px 0px rgba(105, 103, 103, 0.692);
}

.share-container .share-page-first-heading {
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
   font-family: var(--primary-font);;;
  font-weight: 300 !important;
  margin-top: 1rem;

}

.share-name {
  display: flex;
  justify-content: space-between;
  place-items: center;
  max-width: 95%;
  text-align: center;
  background-color: #030303;
  box-shadow: var(--shadow2);
  color: var(--main);
  font-size: medium;
  padding: 6px 15px;
  margin-left: 3px;
   font-family: var(--primary-font);;;
  border-radius: 3px;
  font-weight: 600;
  font-size: large;
  /* box-shadow: 1px 1px 5px black inset,-1px -1px 5px  inset; */
  color: var(--p);


}

.total-transctions-amount-container {
  max-width: 99%;
  height: 32%;
  display: grid;
  gap: 9px;
  margin: auto;
  margin-top: 6px;
  padding: 7px 5px;
  border-radius: 5px;
  background: black;
  box-shadow: var(--shadow2);
}

.upper {
  display: flex;
}

.remaining-balance {
  background-color: var(--card);
  box-shadow: var(--shadow2);
  width: 92%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  padding: 9px;
  text-align: center;
  font-size: medium;
   font-family: var(--primary-font);;;
}

.share-right,
.share-left {
  width: 46%;
  background-color: var(--card);
  padding: 14px 5px;
  margin: 0px 6px;
  border-radius: 5px;
  display: flex;
  box-shadow: var(--shadow2);
  justify-content: space-between;
  padding-left: 12px;
  font-weight: 600;
  font-size: large;

}

.share-left {
  color: rgb(6, 253, 6);
}

.share-right {
  color: rgb(249, 8, 8);
}

.share-right .share-left>span {
  margin-left: auto;
}

.share-right>span:hover {
  color: var(--main);
  cursor: pointer;
}


.share-heading {
  text-align: center;
   font-family: var(--primary-font);;;
  font-weight: 400;
  color: #e1e3e2;
  padding: 3px;
}

.transaction-card-container {

  height: 45vh !important;
  overflow-y: scroll;
  /* background: red; */
  padding-bottom: 5px;
}

.transaction-card-in-share {
  height: 40px;
  width: 96%;
  margin-left: 1%;
  padding: 11px 4px;
  background-color: var(--card);
  display: flex;
  border-radius: 9px;
  margin-top: 9px;
  box-shadow: var(--shadow);
  /* justify-content:space-evenl; */

}

.transaction-card-in-share>div {

  justify-content: right;
  display: flex;
  flex-direction: column;
  gap: auto;

}

.sender-reciver-transaction-comment {
  color: white;
  font-size: medium;
  margin-left: 13px;
   font-family: var(--primary-font);;;
}

/* Transaction amount for share page in transaction tile */
.share-transaction-amount {
  margin-left: auto;
  margin-right: 13px;
  font-size: large;
  font-weight: 400;
  font-family: monospace;
}

/* Transaction date for share page in transaction tile */
.transaction-date {

  font-size: small;
  color: gray;
  margin-left: 15px;
  padding: 3px;
}

/* css for Share Page=>  ---End*/
.t-upper-container {
  padding-top: 1rem;
  display: flex;
 place-items: center;
  padding-left: 2%;
}

.t-container {
  display: flex;
  margin-top: 2%;
  padding-left: 9px;
}
.t-username {
  /* border: 3px solid orange; */
  width: auto;
  padding: 8px 7px;
  margin-top: 1vh;
  margin-left: 1vw;
  margin-right: auto;
  text-align: center;
  /* font-family: Georgia, 'Times New Roman', Times, serif; */
  border-radius: 5px;
  background-color: var(--second-dark);
  font-weight: bold;
  font-weight: 300;
  font-size: medium;
  text-transform: uppercase;
  /* box-shadow: 1px 1px 5px rgb(15, 15, 15) inset;/ */
  /* border: 1px solid rgb(104, 101, 101); */
  color: white;
}

/* .t-upper-container input {
  margin-left: 4vw;
  height: 45px;
  background-color: black;
  border: 2px solid gray;
  width: 40%;
  color: white;
  outline: none;
  border-radius: 50px;
  padding: 5px;
  text-align: center;
  font-weight: bold;
  border: 1.5px solid rgb(152, 151, 151);
} */

.share {
  font-size: xx-large;
  margin-left: auto;
  margin-right: 2vw;
  border: none;
  margin-top: auto;
  margin-bottom: auto;
  font-size: x-large;
  padding: 5px;
  width: 15%;
  color: var(--main);
  border: 2px solid var(--main);
  /* height: 40px; */
  font-size: large;
  /* box-shadow: 0 3px 3px 0 #171616 ,0px -1px 1px 0px white  ; */
  border-radius: 9px;
  background-color: var(--main-back);
  font-weight: 700;
  cursor: pointer;

}

.t-container2 {
  height: 82vh;
  border: 2px solid gray;
  margin-top: 2vh;
  width: 97%;
  margin-left: 1.2%;
  border-radius: 30px 30px 10px 10px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.t-heading {
  /* border: 2px solid red; */
  height: 35px;
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  margin: 0;
  /* margin-left: 7px; */
  margin-right: auto;
  background-color: #121212;
  position: sticky;
  text-align: center;
  box-shadow: var(--shadow2);
  top: 0;
  padding: 12px 12px 0px 0px;
}

.t-user-name {
  /* border: 2px solid gold; */
  text-align: center;
  margin-top: 5px;
  padding: 5px 12px;
  margin-left: 1%;
  font-size: medium;
}



.t-balance {
  text-align: center;
  margin-top: 5px;
  padding: 5px 18px;
  margin-left: auto;
  border-radius: 20px;
  font-size: large;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 900;
}

.Transaction-comp {
  /* border: 2px solid springgreen; */
  margin-top: 8px;
  margin-left: 10px;
  width: 80px;
  cursor: pointer;
  padding: 5px;
  font-size: small;
  background-color: white;
  border-radius: 9px 9px 0px 9px;


}

.t-container2 div:last-child {
  margin-bottom: 2.5rem;
}

.IN {
  background-color: rgb(33, 30, 30);
  box-shadow: var(--shadow);
  border: 2px solid rgb(92, 106, 92);
  border-left-width: 5px;
  margin-left: 1.2rem;
  margin-top: 1rem;
  min-width: 7rem;
  width: fit-content;
}

.OUT {
  background-color: rgb(33, 30, 30);
  box-shadow: var(--shadow);
  border: 2px solid rgb(90, 64, 64);
  border-left-width: 5px;
  margin-left: auto;
  margin-right: 1rem;
  margin-top: 1rem;
  min-width: 7rem;
  width: fit-content;
}

.tc-amt {
  font-weight: 500;
  font-size: medium;
  color: white;
  font-family: 'IBM Plex Sans', sans-serif;

}

.tc-date {
  font-size: xx-small;
  margin-left: auto;
  width: auto;
  padding: 4px 2px;
  text-align: right;
  margin-right: 0px;
  color: rgb(180, 169, 169);
  margin-bottom: -6px;
}


.add-t {
  position: absolute;
  padding: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  border-radius: 5px;
  background-color: #1c1b1b;
  border: none;
  border: 1px solid black;
  border-radius: 10px;
  max-height: 400px;
 
  /* box-shadow: 250px 110px 5000px 100px rgb(89, 86, 86), -110px -110px 5000px 100px rgb(89, 86, 86); */
}

.add-t .buttons {
  display: flex;
  width: 100%;
}

.add-t .buttons button {
  width: 50%;
  border: none;
  cursor: pointer;
  height: 42px;
  font-weight: 750;
  /* border-radius: 10px; */
  color: white;
  font-size: large;
  background-color: #bbb;
  border: 1px ridge #050505;

}

.buttons {
  margin-bottom: 10px;
}

.in {
  border-radius: 0px 7px 0px 7px;
}

.out {
  border-radius: 0px 7px 0px 7px;
}

.add-t .buttons button :first-child {
  border-radius: 10px 0px 0px 10px;
}

.add-t h1 {
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: x-large;
  /* margin-bottom: 5px; */
  background-color: #1c1b1b;
  border-radius: 10px 10px 0px 0px;
  width: 100;
  padding: 10px;
  font-weight: 500;

}

.add-t .inner {
  width: 98%;
  padding: 10px;
  display: flex;
height: fit-content;
}

.add-t .inner h1 {
  text-align: center;
  border-radius: 10px 10px 0px 0px;
}

.add-t .inner .in {
  width: 95%;
}

.form {
  gap: 10px;
  display: grid;
  /* border: 3px solid #d3d3d1; */
  background-color: rgb(41, 37, 37);
  border-radius: 10px;
  padding-bottom: 6px;
}

.form h1 {
  height: 30px;
  padding: 0px;
  padding: 5px;
  text-align: center;
  border-bottom: 2px solid black;
  margin-top: 0px;
  gap: 0;
  color: green;
  font-weight: 500;
  padding-top: 0;
  background-color: #100e0e;
  padding-bottom: 10px;


}

.form input {
  height: 35px;
  padding: 2px 4px;
  width: auto;
  margin-left: 2.5%;
  margin-right: 2.5%;
  border: 3px solid;
  border-radius: 5px;
  background-color: #1c1b1b;
  color: white;
  border: 2px solid black;

}

.add-t .inner .in .form button {
  height: 40px;
  cursor: pointer;
  width: 95%;
  margin-left: 2.5%;
  margin-bottom: 5px;
  font-weight: 700;
  background: green;
  color: white;
  font-size: medium;
  border-radius: 7px;
  border: none;
}

.add-t .inner .out {
  width: 95%;
}

/* .add-t .inner .out .form {
  gap: 10px;
  display: grid;
  border: 3px solid #d3d3d1;
  background-color: #aaa;
  border-radius: 10px;
} */

.add-t .inner .out .form h1 {

  color: red;

}

.addUser:hover {
  color: var(--main);
}

.add-t .inner .out .form button {
  height: 40px;
  cursor: pointer;
  width: 95%;
  margin-left: 2.5%;
  margin-bottom: 5px;
  font-weight: 700;
  background-color: red;
  color: white;
  font-size: medium;
  border-radius: 7px;
  border: none;
}

.buttons {
  background-color: #1c1b1b;
  margin-top: 0px;
  padding-bottom: 55px;
  padding: 0px 0px 3px 3px;
  border-radius: 0px 0px 7px 7px;
}

.nothing {
  width: 200px;
  display: flex;
  margin-left: 33%;
  margin-top: 15%;
  text-align: center;
}

.details {
  display: grid;
  background-color: black;
  width: 320px;
  color: white;
  position: absolute;
  top: 15%;
  left: 33%;
  height: 150px;
  font-family: monospace;
  font-size: large;
  border-radius: 10px;
}

.details h2 {
  text-align: center;
  border-radius: 7px;
  padding: 10px 0px;
  margin-top: 0;
  width: 100%;
  margin-bottom: 15px;
  background-color: rgb(48, 44, 44);
  color: white;
  text-align: center;
  border-radius: 7px;
  padding: 10px 0px;
  margin-top: 0;
  width: 100%;
  margin-bottom: 15px;
  background-color: rgb(48, 44, 44);
  color: white;
}

.details-date {
  display: flex;
  text-align: center;
  width: 100%;
  background-color: rgb(48, 44, 44);
  border-radius: 10px 10px 0px 0px;

}

.details-discryption {
  display: flex;
  text-align: center;
  width: 100%;
  background-color: rgb(48, 44, 44);
  text-align: center;


}

.details-date span,
.details-discryption span {
  margin-left: 5%;
  padding: 10px;
  padding-top: 13px;
  text-align: center;
  overflow: auto;
}

.details-button-container {
  display: flex;
  text-align: center;
  width: 100%;
  background-color: gray;
  padding-top: 10px;
  border-radius: 0px 0px 10px 10px;

}

.details-button-container button {
  width: 80%;
  margin-left: 8%;
  margin-bottom: 15px;
  height: 35px;
  font-weight: 600;
  background-color: black;
  color: white;
  font-size: x-large;
  font-family: monospace;
  border-radius: 7px;
  cursor: pointer;
}

.details-button-container button:hover {
  color: var(--main);
  border-radius: 10px;
}
.profile-container{
  display: flex;
}

@media (max-width:590px) {
  canvas{
    height: 99%!important;
    width: fit-content!important;
    display: flex;
  }
  html,
  body {
    overflow-x: hidden;
  }
  .d-logout:hover {
    color: red;
  }
  .sort-by-and-add-user-container{
    margin-top: 0;
  }
/* mobile navabar --start */
.nav-option-container{
  display: flex;
  padding: 5px;
  margin-left: auto;
}
.home-navbar div a{
  padding: 7px;
text-decoration: none;
font-weight: 700;
font-size: small;

}

/* share page first heading <Transaction history> */
.share-container .share-page-first-heading {
  font-size: x-large;
}
.advance-nav{
width: 100vw;
height: 55px;
  position:fixed;
  top: auto;
  bottom: 0px;
  background-color:rgb(5, 5, 5)!important; 
  display: flex;
  justify-content:space-evenly;
  flex-direction: row;
  box-shadow: var(--shadow2);
  border-radius: 8px 8px 0px 0px;
}
.logo-image{
  width: auto;
}
.advance-nav button{
  height: auto;
  margin-top: auto;
  margin-bottom: auto;
  padding: 3px!important;
  padding-bottom: 9px;
  border-radius: 5px;
  
}
.advance-nav button svg{
  margin: 0;
  padding: 0;
  height: 35px!important;
  width: 35px!important;
}

.advance-nav button span{
  display: none;
}
.logout-btn{
  background-color: transparent!important;
}
.advance-nav .logo{
  display: none;
}
.advance-nav .logout-btn{
  width: auto;
  background-color: transparent !important;
}
.advance-nav .logout-btn :hover{
  color: red!important;
}
/* mobile navabar --end */
  /* share link  */
  .link-validity-container{
    display: grid;
    gap: 7px;
    /* width: auto; */
    max-width: 90%;
  }
  .input-and-selection-container{
    max-width: 97%;
  }
  /* share link  */
  
  /* sort by css ---start for mobile screen */
  .sort-by ,.add-user-icon-container{
margin-top: 15px;
padding: 7px 4px;
margin-bottom: 0px;
box-shadow: 0 0px 0px 1px #363434 ,0 -0px 6px 0 #0e0d0d;
position: static !important;
  }
  .sort-by svg ,.add-user-icon-container svg{
    transform: scale(1.4);
    padding: 3px;
    position: static;
  }
 .add-user-icon-container:hover,.sort-by:hover{
    background-color: var(--black);
    box-shadow: 0 0px 0px 1px var(--main);
  }

  .add-user-icon-container::after, .sort-by::after{
    font-size: medium;
  }
  .add-user-icon-container svg, .sort-by svg{
    font-size: large;
    position: static !important;
    z-index: 1;
  }
 .sort-by:hover svg,.add-user-icon-container:hover svg{
    color: var(--main);
  }
  
  .add-transaction-icon:hover{
    box-shadow: 0 0px 0px 1px var(--main)!important;
    background-color: var(--black)!important;
    color: var(--main)!important;
    
  }
  .add-user-icon-container :hover {
    color: var(--main)!important;

  }

  /* sort by css ---end for mobile screen */
  .add-transaction-icon{
    color: var(--main);
    background-image:linear-gradient(var(--main) 0, var(--advance) 100%) ;
    height: 35px;
    width: 35px !important;
    width: fit-content;
    padding: 6px;
    border-radius: 500px;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
    position:fixed;
    font-size: 35px;
    right: 9px;
    top:auto;
    bottom: 70px;
    border: none;
  } 
  .add-transaction-icon::after{
    content: "";
    /* font-family: fantasy; */
  }
  .add-transaction-icon svg{
    transform: scale(1.65);
    color: black;
  }
  /* .add-user-icon-container :hover{
    background-color: red;
  } */
  .add-transaction-icon:hover{
    box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
    transform: scale(1.05);
    color: black;
  }
  /* body {
  position: relative;
} */
  .dashboard {
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline;
    background-color: #303134;
    height: 100vh;
    width: 100%;

  }
  .t-username {
    margin-left: 0;
  }
  
  .profile{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* padding-bottom: 25px; */
    /* padding-top: 5px; */
  }
  .profile>.profile-right-sec{
    width: 100vw;
    height: auto;
    overflow-y: scroll;
    /* margin-bottom: 70px; */
  } 
  .profile> .profile-right-sec> .left-container,
.profile> .profile-right-sec> .right-container{
  display: grid;
  width: 100%;
  gap:5px;
  flex-direction: column;
  /* background-color: var(--black); */
  margin-bottom:50px;
}
.profile> .profile-right-sec> .right-container>.right-lower>.user-wrapper{
  padding-bottom:9px;
}
.profile> .profile-right-sec> .right-container{
  margin-bottom:70px ;
  
}
.share-link-card{
  padding: 0;
  /* margin: auto; */
  padding-top: 7px;
  padding-bottom: 7px;
  height: 35px;
}
.profile >.profile-right-sec >.left-container >.left-upper{
  width: 93.2%;
}
.profile >.profile-right-sec >.left-container >.left-lower,.profile >.profile-right-sec >.right-container >.right-upper{
  width: 95%;
}
  .right {
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    height: max-content;
    min-height: fit-content;
    padding: 0;
    border-radius: 0;
    background-color: #303134;
  }

  .transactions .t-right {
    background: #000;
    overflow: hidden;
  }

  .right .upper-container {
    margin: 0;
    height: max-content;
    margin-top: 13px;
    margin-bottom: auto;
    display: flex;


  }


  .left a svg {
    display: flex;
    font-size: 5rem;
    height: 45px;
    color: rgb(161, 41, 41);
    margin-top: auto !important;
    margin-bottom: auto ! important;
  }


  /* .dashboard .left .d-adduser {
    font-size: 2rem;
    margin-bottom: auto;
    margin-top: auto;
  } */

  .d-low div span ,.d-high div span{
    font-size: x-small !important;
    overflow: hidden;
  }

  .d-high{
    height: auto;
  }
  .d-low p,
  .d-high p {
    padding: 2px;
    font-size: xx-small;
  }

  .search-p {
    height: 50px;
  }

  .generateR {
    display: none;
  }

  /* .upper-container input {
    height: auto;
    width: 50%;
    border-radius: 13px;
    padding: 3px;
    margin-left: auto;
    margin-right: .5rem;
    background-color: #0c0c0c;
    border: 2px solid white;
  } */

  .right {
    border: none;
  }
.d-overview{
  height: 20vh;
  box-shadow: var(--mobile-shadow);
  /* padding-bottom: 17px; */
}
.d-chart{
  box-shadow: var(--mobile-shadow);
  height: 20vh;
}
.d-hl-container{
  /* background-color: red; */
  height: 50%;
}
.balance-title{
  float: "right";
  margin: "-5px -3px";
  font-weight: "900";
  font-size: "xx-small";
  position:"static";
  position: "absolute";
  background-color: "lightgray";
  color: "black";
  padding: "5px 7px";
  border-radius: "5px";
}
  .d-high p,
  .d-low p {
    font-size: xx-small;
    margin-top: -.9rem;
    margin-right: -.6rem;
    /* box-shadow: 0 2px 2px 0 #171717; */
    background-color: rgb(247, 246, 246);
    color:black;
    /*  font-family: var(--primary-font);; */
    font-weight: 650;
    padding: 2px 2px;
    border-radius: 3px;
  }
  

  .amount {
    font-size: smaller;
  }

  .client .name {
    font-size: medium;
    color: red;
    justify-self: center;
  }

  .d-high div span {
    font-size: x-small;
  }

  .client {
    width: 95%;
    margin-left: 2%;
    background-color: #303134;
    border-radius: 5px;
    box-shadow: 0 4px 6px 0 #171717;
  }

  .client span {
    font-family: monospace;
  }

  .client span a {
    font-size: medium;
    font-family: serif;
  }

  .client span a:hover {
    color: #92FE9D;
  }

  .client span:nth-child(2) {
    font-size: x-small;
  }

  .d-adduser {
    font-size: larger;
    color: white;
    /* box-shadow: 0 4px 6px 0 #171717; */
    border-radius: 3px;
    padding-top: 5px;
  }
  .d-balance{
font-size: 1.45rem;
overflow: hidden;
  }

  /*  mobile navbar */

  .d-balance p {
    color: red;
  }
svg{
  color: white;
}

  /* table --start */
  .d-clients-container {
    /* background: #121212; */
    /* background: red; */
    margin-top: 5px;
    height: 60vh;
    width: 100%;
    overflow-x: scroll;
    margin-bottom: 35px;
  }

  .d-clients-container table {
    border-collapse: separate;
    border-spacing: 0px;
    width:100%;
    margin-left: 0%;
    overflow-y: auto;
    box-shadow: none;
    margin-bottom: 150px;


  }

  .d-clients-container table thead  {
    position: sticky;
    top: 0;
    width: 100%;
    border-radius: 0px;
    background-color: var(--mobile-client-card-bg);
    border-bottom: 1px solid black;
  }

  .d-clients-container table thead tr th{
    position:static;
    background-color:var();
    text-align: center;
    border-bottom: 1px solid black;
  }

  .d-clients-container table thead tr th:first-child {
    /* padding: 1rem; */
    border-radius: 5px 0px 0px 5px;
  }

  .d-clients-container table thead tr th:last-child {
    border-radius: 0px 5px 5px 0px;
  }

  .d-clients-container table tbody {
    width: 88%;
    overflow-y: scroll;
    max-width: 90%;
    margin-bottom: 150px;
   

  }

  .d-clients-container table tbody tr {
    padding: .2rem;
    cursor: pointer;
    text-align: center;
    /* height: 55px !important; */
    /* margin-top: 10px; */
    border-radius: 10px;
    margin: 0!important;
    /* background-color: #303134; */
    background-color: transparent;
  height: 55px;
  border: none!important;
  }

  .d-clients-container table tbody tr td {
    padding: .2rem;
    /* text-align: center; */
    height: 100%;
    /* border-bottom: 1px solid gray; */
    font-size:x-small;
    height: 40px;
    /* margin-top: 10px; */
    /* background-color: #24262b; */
    /* background-color: #0547ef; */

  }


  .d-clients-container table tbody tr:hover {
    border: 1px solid black;
  }

  .d-clients-container table tbody tr td:first-child {
    /* border-radius: 10px 0px 0px 10px; */
    border-radius: 0;
    text-transform: capitalize;
    cursor: pointer;
    font-size: small;
  }
  .d-clients-container table tbody tr td:last-child {
    font-family: monospace;
    font-size: small!important;
    /* border-radius: 0px 10px 10px 0px; */
    border-radius: 0;
    cursor: pointer;
  }
  .d-clients-container table tbody tr td p {
    color: var(--main) !important;
    font-size: medium;
  }

  





  /* table --end */
  /* for transactions route ---Start */
  .transactions {
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #303134 !important;

  }

  .transactions .t-right {
    width: 100%;
    height:max-content;
    overflow: hidden !important;
    margin: 0;
    max-height: 100%;
    border: none;
    background-color: #303134;
    border-radius: 0;
  }

  .share {
    margin-top: auto;
    margin-bottom: auto;
    font-size: medium;
    padding: 5px;
    width: 15%;
    color: var(--main);
    border: none;
    /* height: 40px; */
    font-size: large;
    box-shadow: var(--shadow2);
    border-radius: 7px;
    cursor: pointer;
    background-color: var(--profile-container-bg);
    font-weight: 700;
    /* display: none; */
  }
  .share:hover{
    background-color:black;
    color: black;
  }
 

  .t-upper-container {
    padding-top: 1rem;
    width: 100VW;
    margin-top:0px;
    display: flex;
    margin-bottom: 0px;
       justify-content: space-around;
  }
  .t-username {
    margin-left: 0;
  }

  /* .t-upper-container input {
    width: auto;
    margin-right: 1%;
    border: 2px solid white;
    height: auto;
    margin-top: 5px;
    max-width: 50%;
    border-radius: 17px;
    font-size: small;
    display: none;
  } */
  
  
  .t-container2 .t-heading {
    width: 97%;
    background-color: black;
    box-shadow: none;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    position:sticky;
    top: 0%;
    /* left: 5px; */
  }


  .t-container1 {
    margin-left: 25px;
  }

  .t-user-name {
    margin: 0;
  }

  .t-lastdate {
    display: none;
  }


  .t-container2 {
    height: calc(79.3vh + 30px);
    background: #1b1a1a;
    border: none;
    border-radius: 0px;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }


  .t-container2 .t-balance {
    font-size: 1rem;
    margin: 0;
    width: auto;
    overflow-x: scroll;
  }

  .Transaction-comp .IN {
    background-color: var(--card);
  }
 

  /* for transactions route ---End */
  /* Login --start */

  .login-container {
    width: 100vw;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    place-items: center;
    height: 100vh;
    /* background: #000; */
  }

  .Login {
    background: black;
    /* width: 95vw; */
    max-width: 335px;
    border-radius: 10px; 
    /* margin-left: auto;
    margin-right: auto; */
    margin-top: 50px;
    justify-content: center; 
    padding: 5px;
  }


  .Login input {
    border-radius: 10px;
    width: 90%;

  }

  .pass {
    border-radius: 10px;
    background-color: black;
  }

  .logo {
    width: 100%;
  }

  .Login .reg-btn {
    margin-left: 40%;
    margin-top: 0px;
    outline: none;
    background-color: var(--main);
    color: black;
  }

  .log-btn {
    border: 2px solid var(--main);
    background-color: var(--main);
    color: white;
    border: none;
    /* background-color: var(--main); */
  }

  /* Login --End */
 
  .logo{
    margin: 0;
  }
  



  .right>table>tbody>tr:last-child {
    margin-bottom: 150px;
  }

  /* login and Register --End  */

  /* footer ---start */
  .footer {
    width: 100vw;
    display: none;
  }

  .footer h4 {
    display: none;
    width: 100% !important;


  }

  /* footer ---End */
  .one {
    height: fit-content;
    margin-left: 1rem;
     font-family: var(--primary-font);;
  }

  .two {
     font-family: var(--primary-font);;
    margin-top: 3rem;
    height: fit-content;
    margin-left: 1rem;
  }



  .home h2 {
    font-family: 'Courier New', Courier, monospace;
  }

  .event {
     font-family: var(--primary-font);;
    border-radius: 8px;
    box-shadow: var(--shadow);
    background-color: rgb(9, 16, 17);
  }

.profile{
  width: 100%;
  display: grid;
  gap: 5px;
}
.mobile-nav {
  background-color: red;
}
.dashboard .right{
  width: 100%;
}

.search-container{
  height: 18 px;
  margin-top: auto;
  /* margin-bottom: auto; */
  border-radius: 7px;
}
.search-container .search-p{
  transform: scale(1.6);
  padding-left: 2px;
}


.right-container{
  /* background-color: red!important; */
  margin-bottom: 19vh!important;
}
}

