* {
  margin: 0;
  padding: 0;
  
}
body{
   background-color: bla;
}

:root {
  --dashboard_bg:#303134;
  --card: #24262b;
  --bg-c: #415c71;
  --p: rgb(255, 0, 111);
  --main: rgb(20, 241, 149);
  --main-back: #100F0F;
  --advance: #0F3D3E;
  --shadow: 0 3px 3px 0 #171717;

}
/* svg css ---start */
.background {
      fill:var(--bg-c);
    }
    .wave {
      fill: #3498db;
    }
    .chart-line {
      fill: none;
      stroke: #2ecc71;
      stroke-width: 2;
    }
    .chart-area {
      fill: #2ecc71;
      opacity: 0.3;
    }
    .text {
      font-family: Arial, sans-serif;
      fill: #ffffff;
      font-size: 16px;
    }
/* svg css ---End */
sub{color: white;}






.home-nav {
  color: white;
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  top: 0;
  /* height: 50px; */
  /* margin-bottom: 25px; */
  width: 100%;
  background-color: black;
  /* border-bottom: 1px solid gray; */
  margin-bottom: 0px;
  box-shadow: 0px 0px 7px 2px rgb(30, 30, 30);
}

.user {
  width: 25px;
  border-radius: 50px;
}

.home-nav ul {
  /* background-color: rgb(255, 0, 111); */
  color: white;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  color: black;
  margin-top: 7px;
}

.home-nav a {
  list-style-type: none;
  padding: 0px 9px;
  font-size: large;
  margin-top: 0px;
  font-weight: 400;
  font-family: sans-serif;
  margin-top: 0;
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.home-nav a:hover {
  /* box-shadow: 0px 2px  rgb(255, 0, 111); */
  text-decoration: double;
  /* font-weight: 800; */
  color: var(--main);
  border-bottom: 2px solid var(--main);
}

.logo {
 color: var(--main);
font-size: xx-large;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
padding:  2px;
font-weight: 900;
/* border-left: 5px solid var(--main); */
}





.title h2 {
  display: flex;
  width: auto;
  margin-left: 10%;
  margin-top: 20vh;
  padding: 5px;
  font-size: xx-large;
  color: rgb(255, 255, 255);
}



.get-btn {
  background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
  height: 50px;
  margin-left: 45%;
  margin-top: 0%;
  margin-bottom: 15%;
  color: black;
  font-weight: 600;
  font-size: large;
  border-radius: 50px;
  padding: 5px 15px;
  cursor: pointer;

}

.get-btn:hover {
  border-radius: 65px;
  /* box-shadow: 5px 5px gray ; */
  border: none;

}

.one {
  color: rgb(5, 5, 5);
  width: 85vw;
  margin-left: 2%;
  margin-right: 0.5vw;
  margin-top: 10%;
  padding: 25px;
  border-radius: 5px;
  font-size: medium;
  font-family: sans-serif;
  background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
}

.one h1 {
  font-family: sans-serif;
}

.two {
  color: black;
  width: 85vw;
  margin-left: 2%;
  margin-right: 3%;
  margin-top: 5%;
  padding: 25px;
  border-radius: 5px;
  font-size: medium;
  background: rgb(238, 174, 202);
  background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
  margin-bottom: 10%;

}

.two h1 {
  font-family: sans-serif;
}

.events {
  background: rgb(34, 193, 195);
  background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
  margin-left: 3%;
  border-radius: 5px;
  padding: 15px;
}

.event-container {
  display: flex;
  overflow-x: scroll;
  padding: 10px;
  font-family: sans-se
}

.events h1 {
  font-family: sans-serif;
}

.event {
  padding: 15px;
  margin: 5px;
  height: 150px;
  padding-top: 25px;
  background-color: black;
  color: white;
  border-radius: 0% 25% 0% 25%;
  margin-right: 5px;
  text-align: center;
  box-shadow: 2px 2px 2px orange, -2px -2px 2px orange;
}

.close {
  color: red;
  font-weight: 700;
  cursor: pointer;
  font-size: xx-large;
  position: absolute;
  top: -50px;
  right: 0;
  margin-left: auto;
}

.close:hover {
  color: var(--main);
}

.footer {
  margin-top: 5%;
  position: absolute;
  border-top: 1px ridge var(--p);
  width: 100%;
  /* box-shadow: 0px -5px 5px gray; */
  height: 120px;
  display: flex;
  flex-direction: row;
}

.footer h4 {
  margin: 15px;
  color: var(--main);
  margin: 15px;
  font-size: x-large;
}

.footer ul {
  color: white;
  margin: 15px;
}

.footer ul li {
  list-style-type: none;
  padding: 15px 20px;
  font-family: sans-serif;
  cursor: pointer;
}

.footer ul li:hover {
  margin-left: 5px !important;
  border-left: 2px solid var(--main);
  color: var(--main);
  font-weight: 800;

}

.copy {
  position: absolute;
  color: gray;
  bottom: -100px;
  padding: 10px;
  text-align: center;
  margin-top: 150px;
  margin-left: 25%;

}
  .login-container {
    width: 100vw;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    place-items: center;
    height: 100vh;
  }
.Login {
  /* margin-top: 60px; */
  font-family: sans-serif;
  background-color: black;
  color: white;
  height: auto;
  box-shadow: 0px 0px 10px rgb(48, 37, 37);
  width: 330px;
 justify-content: center;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  gap: 7px;
  height: 450px;
  
}


.Login h2 {
  margin-top: 13px;
  color: white;
  text-align: center;
  padding: 7px;
  font-size: xxx-large;
  margin-bottom: 3%;
  font-weight: 100;

}

.Login input {
  margin-right: auto;
  margin-bottom: 5%;
  width: 90%;
  margin-left: 2%;
  background-color: rgb(2, 2, 2);
  display: grid;
  height: 45px;
  border-radius: 25px;
  /* text-align: center; */
  padding-left: 15px;
  border: 2px solid white;
  font-family: sans-serif;
  color: white;
  font-size: medium;
  outline: none;
 /* outline-style: solid;
 outline-width: 2px;
 outline-color: var(--main); */

}
.pass{
  /* margin-left: auto; */
  margin-left: 2%;
   width: 94%;
   display: flex;
   border: 2px solid white;
     height: 45px;
     border-radius: 25px;
     margin-bottom: 5%;
}
.pass input{
  border: none;
  width: 95%;
}
.pass p{
  margin-right: 0px;
  text-align: center;
  justify-content: center;
  place-self: center;
  margin-top: -4px;
  margin-right: 9px;
}
*.swal2-popup {
  width: 480px;
  height: 280px;
  background-color: #313131;
  color: white !important;
  border-radius: 20px !important;
  border: 1px solid rgb(180, 179, 179) !important;
}

.swal2-container.swal2-backdrop-show,
.swal2-container.swal2-noanimation {
  background: rgba(0, 0, 0, .7) !important;
}

.Login span {
  color: red;
  font-family: sans-serif;
  margin-right: 25px;
  margin-left: 25px;
  margin-top: -15px;
  padding-bottom: 0px;
  font-weight: 500;
  text-align: center;
  font-size: small;
  width: 33%;
  padding: 0;
}

.Login span :last-child {
  width: 40%;
}

.Login button {
  margin-left: auto;
  margin-right: 5%;
  height: 50px;
  width: 50%;
  border-radius: 10px;
  cursor: pointer;
  /* background-color: var(--main); */
  font-weight: bold;
  font-size: large;
  color: rgb(5, 0, 0);
  font-family: sans-serif;
  font-weight: 700;
  
  border: 2px solid var(--main);
}
.Login .reg-btn {
  margin-left: 40%;
  margin-top: 0px;
  outline: none;
  border: none;
  border: 2px solid var(--main);
  background-color: transparent;
  color: var(--main);
}
.log-btn{

  border: 2px solid var(--main);
  background-color: transparent;
  color: var(--main);
}
.log-btn:hover,.reg-btn:hover{
background-color: var(--main);
}


.Login a:visited a:active {
  text-decoration: none;
  color: rgb(20, 241, 149);

}



.Login p {
  margin-top: 20px;
  margin-left: 20px;
  padding-bottom: 25px;
}

.Login a {
  margin-top: 15px;
  margin-left: 15px;
  color: var(--main);
  text-decoration: none;
  font-size: medium;
}

.Login p a {
  text-decoration: none;
  color: var(--main);
  margin-left: 5px;

}


/* master class for dashboard component  */
.dashboard {
  font-family: sans-serif;
  color: white;
  display: flex;
   background-color: #303134 !important;
}

/* for navbar In DashBoard Section  */
/* dashboard.left {
  width: 8%;
  max-width: 100px;
  height: 97vh;
  margin-left: 1%;
  margin-top: 1vh;
  border-radius: 20px;
} */
.left{
  background-color: #303134;
  margin-left: 7px;
}
.left a {
  color: white;
  text-decoration: none;
  display: block;
  text-align: center;
  margin-bottom: 5vh;
  font-size: large;
  font-weight: 900;
  padding: none;

}

.left a:hover {
  color: var(--main);
  /* background-color: rgb(81, 80, 80); */
  width: auto;
  border-radius: 10px;

}


/* .left a:first-of-type {
  margin-top: 15vh;
} */




/* logout button in dashboard */
.d-logout {
  margin-top: 40vh;
  color: gray;
  cursor: pointer;
  font-size: xx-large;
}

.dashboard .d-logout:hover {
  color: red;
}

/* add user button in dashboard */
.d-adduser {
  font-size: xx-large !important;
  color: white;
}

.d-adduser:hover {
  color: var(--main);
  cursor: pointer;
}

svg {
  width: 100%;
}


.right,
.t-right {
   background-color: #303134;
  margin: 1vh;
  width: 95%;
  margin-left: 10px;
  height: 97vh;
  border: 2px solid rgb(64, 25, 25);
  border-radius: 20px;
  overflow: scroll;
}

/* in dashboard input and generate report section */
.upper-container {
  display: flex;
  margin-top: 2%;
}

/* for searc box in dashboard */
.upper-container input {
  margin-left: 2vw;
  height: 45px;
  background-color: black;
  border: 2px solid white;
  width: 40%;
  color: white;
  outline: none;
  border-radius: 50px;
  padding: 5px;
  text-align: center;
  font-weight: bold;
}

.upper-container .heading {
  margin-left: 2vw;
}

/* generate report button */
.upper-container .generateR {
  margin-left: auto;
  margin-right: 1.5vw;
  border-radius: 10px;
  padding: 2px 5px;
  background-color: var(--main);
  color: black;
  font-weight: 600;
  cursor: pointer;
}

/* for user-search icon  */
.search-p {
  color: gray;
  font-size: xx-large;
  margin-left: 0vw;
  position: relative;
  left: 8vw;
  top: 1vh;
  width: auto;
}

/* container for overview and chart /second container after search and headings 


*/
.d-container2 {
  display: flex;
}

/* for details ,left side of second container */
.d-overview {
  /* border: 1px solid orange; */
  background-color: #303134;
  width: 50%;
  margin-left: 2%;
  margin-top: 3%;
  border-radius: 5px;
  height: 20vh;
  max-width: 50%;
  text-align: center;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 5px;
  box-shadow: 0 4px 6px 0 #171717;
}

.d-balance {
  /* dashboard balance */
  color: white;
  font-size: xx-large;
  text-align: center;
  width: auto;
  height: 38%;
  padding: 7px;
}

.d-hl-container {
  /* contaner which contains higesh and lowest debitor in the list*/
  /* border :2px solid green; */
  margin-top: auto;
  margin-bottom: 0px;
  width: auto;
  height: 50%;
  display: flex;
  text-align: center;
  /* background-color: black; */
}

.d-high {
  /* higest value*/
  width: 48%;
  margin-left: 5px;
  padding: 7px 5px;
  color: green;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  padding-top: 15px;
  overflow: hidden;
  box-shadow: 0 4px 6px 0 #171717;

}

.d-high div {
  display: grid;
  gap: 5px;
  color: white;
  text-transform: uppercase;
}

.d-low div {
  display: grid;
  gap: 5px;
  color: white;
  text-transform: uppercase;
}

.d-low div span,
.d-high div span {
  font-size: medium;
  padding: auto;
}

/* {
  /* position: "relative", backgroundColor: "gray", color: "black", padding: "5px 7px", borderRadius: "100px", float: "right", margin: "0", button: "50px", fontWeight: "900", fontSize: "x-small" */


.d-low p,
.d-high p {
  background-color: gray;
  width: fit-content;
  padding: 2px;
  border-radius: 5px;
  color: black;
  position: relative;
  float: right;
  /* top:0px */
}

.dashboard .left .d-logout {
  margin-top: 25rem;
  box-shadow: none;
  font-size: xx-large;
  color: wheat;
}

.transactions .left .d-logout {
  margin-top: 20rem;
  box-shadow: none;
  font-size: xx-large;
  color: wheat;
}

.dashboard .left .d-logout:hover {
  color: red;
}


@media (max-width:1200px) {
  .d-low div span {
    font-size: medium;
  }

  .d-balance {
    /* dashboard balance */
    padding-top: 20px;
    color: white;
    font-size: x-large;
    text-align: center;
    width: auto;
    height: 38%;
    padding: 7px;
  }

  .d-high div span {
    font-size: medium;
  }

}



/* @media (min-width:400px) {
  .d-low div span {
    font-size: x-small;
  }

  .d-high div span {
    font-size: x-small;
  }
} */

.d-low {
  /*Lowest value*/
  width: 48%;
  margin-left: 5px;
  padding: 7px 5px;
  color: green;
  /* border: 1px solid gray; */
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  margin-right: 2%;
  padding-top: 15px;
  overflow: hidden;
  background-color: #303134;
  box-shadow: 0 4px 6px 0 #171717;
}


.d-chart {
  width: 40%;
  margin-left: 2%;
  margin-top: 3%;
  border-radius: 5px;
  height: 20vh;
  box-shadow: 0 4px 6px 0 #171717;
  background-color: #303134;
  padding: 2px;
  text-align: center;

}

canvas {
  text-align: center;
  margin-left: 25%;
}

.d-clients-container {
  /* background: #121212; */
  margin-top: 2.25rem;
  height: 55%;
  overflow: scroll;
  

}

.d-clients-container table {
  padding-bottom: 25px;
  border-collapse: separate;
  border-spacing: 0px 10px;
  width: 90%;
  margin-left: 4%;
  overflow-y: auto;
  overflow-x: scroll;
  /* height: 100%; */
  /* background-color: #303130; */
  box-shadow: var(--shadow);
}

.d-clients-container table thead {
  position: sticky;
  top: 0;
  background-color: black;
}

.d-clients-container table thead tr th:first-child {
  padding: 1rem;
  border-radius: 5px 0px 0px 5px;
}

.d-clients-container table thead tr th:last-child {
  border-radius: 0px 5px 5px 0px;
}

.d-clients-container table tbody {
  width: 100%;
  overflow-y: scroll;

}

.d-clients-container table tbody tr {
  padding: 0.2rem;
  text-align: center;
  margin-top: 10px;
  border-radius: 10px;
  background-color: var(--card);
  box-shadow: 0 4px 6px 0 #535050;
  border-radius: 5px;
}

.d-clients-container table tbody tr td {
  padding: .2rem;
  text-align: center;
  height: 3.2rem;
  margin-top: 10px;
  height: 55px;
  font-size: large;
  /* box-shadow: var(--shadow); */
  background-color: #1e2026;
  /* border-radius: 50px; */
}

.d-clients-container table tbody tr td:first-child {
  border-radius: 5px 0px 0px 5px;
}

.d-clients-container table tbody tr td a {
  color: var(--main) !important;
}

.d-clients-container table tbody tr td a:hover {
  font-weight: 600 !important;

}

.d-clients-container table tbody tr td:last-child {
  font-family: monospace;
  font-size: large;
  border-radius: 0px 5px 5px 0px;
}














::-webkit-scrollbar {
  display: none;
}




.client:hover {
  border: 1px solid white;
}

.name {
  padding: 15px;
  float: left;
  width: auto;
  font-size: x-large;

}

.date {
  text-align: center;
  padding: 15px;
  margin-left: auto;
  font-family: monospace;
  color: gray;
  font-size: large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.amount {
  position: relative;
  width: auto;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  float: right;
  margin-left: auto;
  margin-right: 5%;
  padding: 15px;
  font-size: large;
}

.small {
  font-size: 3rem;
  text-align: center;
  margin-left: -8px;
  width: 100%;
  font-family: sans-serif;

}

.transactions {
  font-family: sans-serif;
  color: white;
  display: flex;
}

.t-upper-container {
  display: flex;
  margin-top: 2%;
}

.t-username {
  /* border: 3px solid orange; */
  width: auto;
  padding: 10px 10px;
  margin-top: 1vh;
  margin-left: 1vw;
  margin-right: auto;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border-radius: 10px;
  background-color: rgb(250, 248, 248);
  font-weight: bold;
  font-size: medium;
  /* box-shadow: 1px 1px 5px black inset,-1px -1px 5px  inset; */
  color: black;
}

.t-upper-container input {
  margin-left: 4vw;
  height: 45px;
  background-color: black;
  border: 2px solid gray;
  width: 40%;
  color: white;
  outline: none;
  border-radius: 50px;
  padding: 5px;
  text-align: center;
  font-weight: bold;
}

.share {
  font-size: xx-large;
  margin-left: auto;
  margin-right: 2vw;
}

.t-container2 {
  height: 82vh;
  border: 2px solid gray;
  margin-top: 2vh;
  width: 97%;
  margin-left: 1.2%;
  border-radius: 30px 30px 10px 10px;
  overflow-y: scroll;
}

.t-heading {
  /* border: 2px solid red; */
  height: 7vh;
  border-radius: 20px 20px 0px 0px;
  width: 101%;
  margin: 0;
  padding: 0;
  background-color: #363738;
  position: sticky;
  top: 0;
  padding: 12px 0px 0px 0px;
}

.t-user-name {
  /* border: 2px solid gold; */
  text-align: center;
  margin-top: 5px;
  padding: 5px 12px;
  margin-left: 1%;
  font-size: medium;
}

.t-lastdate {
  text-align: center;
  margin-top: 9px;
  padding: 5px 12px;
  margin-left: 25%;
  margin-right: 15%;
  font-size: medium;
  color: gray;
  font-family: sans-serif;
  font-weight: 700;
}

.t-balance {
  text-align: center;
  margin-top: 5px;
  padding: 5px 12px;
  margin-left: auto;
  font-size: large;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 900;
}

.Transaction-comp {
  /* border: 2px solid springgreen; */
  margin-top: 8px;
  margin-left: 10px;
  width: 80px;
  cursor: pointer;
  padding: 5px;
  font-size: small;
  background-color: white;
  border-radius: 10px 10px 0px 10px;


}

.t-container2 div:last-child {
  margin-bottom: 2.5rem;
}

.IN {
  background-color: rgb(33, 30, 30);
  box-shadow: var(--shadow);
  border: 2px solid rgb(92, 106, 92);
  border-left-width: 11px;
  margin-left: 1.2rem;
  margin-top: 1rem;
  min-width: 7rem;
  width: fit-content;
}

.OUT {
  background-color: rgb(33, 30, 30);
  box-shadow: var(--shadow);
  border: 2px solid rgb(90, 64, 64);
  border-left-width: 11px;
  margin-left: auto;
  margin-right: 1rem;
  margin-top: 1rem;
  min-width: 7rem;
  width: fit-content;
}

.tc-amt {
  font-weight: 500;
  font-size: medium;
  color: white;
  font-family: 'IBM Plex Sans', sans-serif;

}

.tc-date {
  font-size: xx-small;
  margin-left: auto;
  width: auto;
  padding: 4px 2px;
  text-align: right;
  margin-right: 0px;
  color: rgb(180, 169, 169);
  margin-bottom: -6px;
}


.add-t {
  position: absolute;
  padding: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  border-radius: 5px;
  background-color: #1c1b1b;
  border: none;
  border: 1px solid black;
  border-radius: 10px;
  /* box-shadow: 250px 110px 5000px 100px rgb(89, 86, 86), -110px -110px 5000px 100px rgb(89, 86, 86); */
}

.add-t .buttons {
  display: flex;
  width: 100%;
}

.add-t .buttons button {
  width: 50%;
  border: none;
  cursor: pointer;
  height: 42px;
  font-weight: 750;
  /* border-radius: 10px; */
  color: white;
  font-size: large;
  background-color: #bbb;
  border: 1px ridge #050505;

}

.buttons {
  margin-bottom: 10px;
}

.in {
  border-radius: 0px 7px 0px 7px;
}

.out {
  border-radius: 0px 7px 0px 7px;
}

.add-t .buttons button :first-child {
  border-radius: 10px 0px 0px 10px;
}

.add-t h1 {
  text-align: center;
  padding: 0;
  margin: 0;
  /* margin-bottom: 5px; */
  background-color: #1c1b1b;
  border-radius: 10px 10px 0px 0px;
  width: 100;
  padding: 10px;
  font-weight: 500;

}

.add-t .inner {
  width: 98%;
  padding: 10px;
  display: flex;

}

.add-t .inner h1 {
  text-align: center;
  border-radius: 10px 10px 0px 0px;
}

.add-t .inner .in {
  width: 95%;
}

.form {
  gap: 10px;
  display: grid;
  /* border: 3px solid #d3d3d1; */
  background-color: rgb(41, 37, 37);
  border-radius: 10px;
  padding-bottom: 6px;
}

.form h1 {
  height: 30px;
  padding: 0px;
  padding: 5px;
  text-align: center;
  border-bottom: 2px solid black;
  margin-top: 0px;
  gap: 0;
  color: green;
  font-weight: 500;
  padding-top: 0;
  background-color: #100e0e;
  padding-bottom: 10px;


}

.form input {
  height: 35px;
  padding: 2px 4px;
  width: auto;
  margin-left: 2.5%;
  margin-right: 2.5%;
  border: 3px solid;
  border-radius: 5px;
  background-color: #1c1b1b;
  color: white;
  border: 2px solid black;

}

.add-t .inner .in .form button {
  height: 40px;
  cursor: pointer;
  width: 95%;
  margin-left: 2.5%;
  margin-bottom: 5px;
  font-weight: 700;
  background: green;
  color: white;
  font-size: medium;
  border-radius: 7px;
  border: none;
}

.add-t .inner .out {
  width: 95%;
}

/* .add-t .inner .out .form {
  gap: 10px;
  display: grid;
  border: 3px solid #d3d3d1;
  background-color: #aaa;
  border-radius: 10px;
} */

.add-t .inner .out .form h1 {
  
  color: red;
  
}
.addUser:hover{
  color: var(--main);
}

.add-t .inner .out .form button {
  height: 40px;
  cursor: pointer;
  width: 95%;
  margin-left: 2.5%;
  margin-bottom: 5px;
  font-weight: 700;
  background-color: red;
  color: white;
  font-size: medium;
  border-radius: 7px;
  border: none;
}

.buttons {
  background-color: #1c1b1b;
  margin-top: 0px;
  padding-bottom: 55px;
  padding: 0px 0px 3px 3px;
  border-radius: 0px 0px 7px 7px;
}

.nothing {
  width: 200px;
  display: flex;
  margin-left: 33%;
  margin-top: 15%;
  text-align: center;
}

.details {
  display: grid;
  background-color: black ;
  width: 320px;
  color: white;
  position: absolute;
  top: 15%;
  left: 33%;
  height: 150px;
  font-family: monospace;
  font-size: large;
  border-radius: 10px;
}

.details h2 {
  text-align: center;
  border-radius: 7px;
  padding: 10px 0px;
  margin-top: 0;
  width: 100%;
  margin-bottom: 15px;
  background-color: rgb(48, 44, 44);
  color: white;
  text-align: center;
  border-radius: 7px;
  padding: 10px 0px;
  margin-top: 0;
  width: 100%;
  margin-bottom: 15px;
  background-color: rgb(48, 44, 44);
  color: white;
}

.details-date {
  display: flex;
  text-align: center;
  width: 100%;
  background-color: rgb(48, 44, 44);
  border-radius: 10px 10px 0px 0px;

}

.details-discryption {
  display: flex;
  text-align: center;
  width: 100%;
  background-color: rgb(48, 44, 44);
  text-align: center;


}

.details-date span,
.details-discryption span {
  margin-left: 5%;
  padding: 10px;
  padding-top: 13px;
  text-align: center;
  overflow: auto;
}

.details-button-container {
  display: flex;
  text-align: center;
  width: 100%;
  background-color: gray;
  padding-top: 10px;
  border-radius: 0px 0px 10px 10px;

}

.details-button-container button {
  width: 80%;
  margin-left: 8%;
  margin-bottom: 15px;
  height: 35px;
  font-weight: 600;
  background-color: black;
  color: white;
  font-size: x-large;
  font-family: monospace;
  border-radius: 7px;
  cursor: pointer;
}

.details-button-container button:hover {
  color: var(--main);
  border-radius: 10px;
}

@media (max-width:590px) {
  .dashboard {
    margin: 0;
    overflow-y: hidden;
    display: inline;
    background-color: #303134;
    height: 100vh;
    
  }

  .right {
    margin: 0;
  width: 100vw;
  max-height: 100vh;
    overflow: hidden;
    height: max-content;
    min-height: fit-content;
    padding: 0;
    border-radius: 0;
    background-color: #303134;
  }
  .transactions .t-right{
    background: #000;
  }

  .right .upper-container {
    margin: 0;
    padding-top: 2rem;

  }

  /* .left {
    display: none;
  } */

  .dashboard .left,
  .transactions .left {
    position: absolute;
    bottom: 0px;
    margin: 0;
    padding: 5px;
    margin: 0;
    width: 100%;
    margin-left: 0%;
    display: flex;
 justify-content: space-around;
  flex-direction: row;
    height: 45px;
    background-color: rgb(13, 13, 13);
    font-size:x-large;
  }
     .dashboard .left {
      cursor: pointer;
     }
     .transactions .left{
      max-width: 100vw;
     }
     .dashboard .left :first-child{
      margin-left: 5px;
     }

  /* for logout button  */
  .dashboard .left .d-logout,
  .transactions .left .d-logout {
    margin-top: 0;
    box-shadow: none;
    font-size: xx-large;
    color: white;
  }


  /* for logo  */
  .dashboard .left .small,
  .transactions .left .small {
    font-size: small;
    display: none;
  }

  .left a {
    display: flex;
    font-size: 5rem;
    color: rgb(251, 249, 249);
  }


  .dashboard .left .d-adduser {
    font-size: 2rem;
  }

  .d-low div span {
    font-size: x-small;
  }

  .d-low p,
  .d-high p {
    padding: 2px;
    font-size: xx-small;
  }

  .search-p {
    display: none;
  }

  .generateR {
    display: none;
  }

  .upper-container input {
    height: auto;
    width: 50%;
    border-radius: 6px;
    margin-left: auto;
    margin-right: .5rem;
    border: none;
    background-color: #303134;
    border: 1px solid white;
  }

  .right {
    border: none;
  }

  .d-high p,
  .d-low p {
    font-size: xx-small;
    margin-top: -.9rem;
    margin-right: -.6rem;
    box-shadow: 0 2px 2px 0 #171717;
    background-color: #121212;
    color: gray;
    border-radius: 1px;
  }

  .amount {
    font-size: smaller;
  }

  .client .name {
    font-size: medium;
    color: red;
    justify-self: center;
  }

  .d-high div span {
    font-size: x-small;
  }

  .client {
    width: 95%;
    margin-left: 2%;
    background-color: #303134;
    border-radius: 5px;
    box-shadow: 0 4px 6px 0 #171717;
  }

  .client span {
    font-family: monospace;
  }

  .client span a {
    font-size: medium;
    font-family: serif;
  }

  .client span a:hover {
    color: #92FE9D;
  }

  .client span:nth-child(2) {
    font-size: x-small;
  }

  .d-adduser {
    font-size: larger;
    color: white;
    /* box-shadow: 0 4px 6px 0 #171717; */
    border-radius: 3px;
    padding-top: 5px;
  }

  /*  mobile navbar */

  .d-balance p {
    color: red;
  }


  /* table --start */
  .d-clients-container {
    /* background: #121212; */
    margin-top: 1rem;
    height: 60vh;
    width: 100%;
    overflow-x: scroll;
    margin-bottom: 35px;


  }

  .d-clients-container table {
    border-collapse: separate;
    border-spacing: 0px 10px;
    width: 95%;
    margin-left: 2%;
    overflow-y: auto;
    box-shadow: none;
    margin-bottom: 150px;


  }

  .d-clients-container table thead {
    position: sticky;
    top: 0;
    background-color: black;
  }

  .d-clients-container table thead tr th:first-child {
    padding: 1rem;
    border-radius: 15px 0px 0px 15px;
  }

  .d-clients-container table thead tr th:last-child {
    border-radius: 0px 15px 15px 0px;
  }

  .d-clients-container table tbody {
    width: 90%;
    overflow-y: scroll;
    max-width: 90%;
    margin-bottom: 150px;

  }

  .d-clients-container table tbody tr {
    padding: .2rem;
    text-align: center;
    height: 55px !important;
    margin-top: 10px;
    border-radius: 10px;
    background-color: #303134;
    box-shadow: 2px 2px 2px 0 #030303;
    border-radius: 50px;
    width: 90%;
  }

  .d-clients-container table tbody tr td {
    padding: .2rem;
    text-align: center;
    height: 55px !important;
    font-size: small;
    margin-top: 10px;
    background-color: #24262b;

  }


  .d-clients-container table tbody tr:hover {
    border: 1px solid black;
  }

  .d-clients-container table tbody tr td:first-child {
    border-radius: 50px 0px 0px 50px;
  }

  .d-clients-container table tbody tr td a {
    color: var(--main) !important;
    font-size: medium;
  }

  .d-clients-container table tbody tr td:last-child {
    font-family: monospace;
    font-size: large;
    border-radius: 0px 50px 50px 0px;
  }





  /* table --end */
  /* for transactions route ---Start */
  .transactions {
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #303134 !important;

  }

  .transactions .t-right {
  max-width: 100%;
  overflow-y: hidden;
    margin: 0;
    height: 100vh;
    border: none;
    background-color: #303134;
    border-radius: 0;
  }

  .share {
    margin-top: 1.2rem;
    font-size: medium;
    display: none;
  }

  .t-upper-container {
    margin-top: 1.2rem;
  }

  .t-upper-container input {
    width: 70%;
    margin-right: 1%;
    border: 2px solid white;
    height: auto;
    margin-top: 5px;
  }

  .t-container2 .t-heading {
    width: 100%;
    background-color: black;
    box-shadow: 0 2px 4px 0 #4f5050;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
  }

  .t-user-name {
    margin: 0;
  }

  .t-lastdate {
    display: none;
  }

  /* .t-right .t-container2 .Transaction-comp{
  background-color: red;
} */
  .t-container2 {
    height: 75.2vh;
    border-radius: 0px;
    border: none;
  }


  .t-container2 .t-balance {
    font-size: 1rem;
    margin: 0;
  }

  .Transaction-comp .IN {
    background-color: var(--card);
  }

  /* for transactions route ---End */
  /* Login --start */

.login-container{
  background: #000;
}

  .Login {
background: var(--card);
    width: 94%;
    /* border-radius: 0;
    margin-left: 0px;
    margin-top: 7rem;
    justify-content: center; */
  }


  .Login input {
    border-radius: 10px;
  }
  .pass{
     border-radius: 10px;
     background-color: black;
  }

  .logo {
    width: 100%;
  }
.Login .reg-btn {
  margin-left: 40%;
  margin-top: 0px;
  outline: none;
  border: none;
  border: none;
  background-color: var(--main);
}
.log-btn{

  border:none;
  background-color: var(--main);
}
  /* Login --End */
  .home-nav {
    flex-wrap: wrap;
    width: 100Vw;
    overflow: hidden;
  }
.right >table>tbody>tr:last-child{
margin-bottom: 150px;
}
  /* login and Register --End  */

  /* footer ---start */
  .footer {
    width: 100vw;
    display: none;
  }

  .footer h4 {
    display: none;
    width: 100% !important;


  }

  /* footer ---End */
  .one {
    height: fit-content;
    margin-left: 1rem;
    font-family: sans-serif;
  }

  .two {
    font-family: sans-serif;
    margin-top: 3rem;
    height: fit-content;
    margin-left: 1rem;
  }

  

  .home h2 {
    font-family: 'Courier New', Courier, monospace;
  }

  .event {
    font-family: sans-serif;
    border-radius: 8px;
    box-shadow: var(--shadow);
    background-color: rgb(9, 16, 17);
  }
}
