:root {
  --profile-card-bg: #303134;
  --profile-container-bg: #1E1E1E;
  --dashboard_bg: #303134;
  --second-dark: #1c1b1b;
  --card: #24262b;
  --black: #000000;
  --bg-c: #415c71;
  --p: rgb(255, 0, 111);
  --main: rgb(20, 241, 149);
  --main-back: #100F0F;
  --advance: #0F3D3E;
  --shadow: 0 3px 3px 0 #171717;
  --new-dark: #1E1E1E;
  --mobile-shadow: 0 4px 6px 0 #171717, 0 -0px 6px 0 #0e0d0d;
  --shadow2: 0 1.5px 1.5px 0 #302a2a;
  --primary-font: "JetBrains Mono", monospace;
}

.vanta-canvas {
  width: 100vw !important;
  height: 110vh !important;
  background-color: var(--new-dark) !important;
}

.home-page {
  width: 100vw;
  height: 100vh;
  background: none;
}

.home-page > .home-navbar {
  position: s!important;
  width: 100vw;
  background-color: #050505;
}

.first-section {
  margin-top: 0;
  padding-top: 7%;
  height: 110vh;
  width: 100vw;
}

.first-heading {
  display: flex;
  color: rgb(249, 251, 249);
  font-size: 95px;
  font-weight: 300!important;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.started-btn {
  margin-top: 25px;
  background-image: linear-gradient(var(--main) 0, #0a5456 100%);
  height: 55px;
  width: max-content;
  padding: 7px 28px;
  border-radius: 25px;
  color: rgb(5, 5, 5);
  border: none;
  margin-bottom: 12%;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  margin-left: calc(50% - 110px);
  margin-right: calc(50% - 110px);
  text-align: center;
}

.started-btn:hover {
  background-image: linear-gradient(#464545 0, #090909 100%);
  color: var(--main);
}

.started-btn svg {
  text-align: center;
  height: 20px;
}

.second-section {
  width: 100vw;
  margin-top: 0;
  height: 50vh;
}

.second-section > h3 {
  color: rgb(245, 239, 239);
  text-align: center;
  font-size: 35px;
  padding-top: 17px;
  font-weight: normal;
}

.features-container {
  width: 100vw;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  gap: 5px 1rem;
  justify-content: space-around;
  height: auto;
}

.feature {
  margin: 1rem;
  height: max-content;
  width: 25%;
  min-height: 135px;
  background-color: var(--new-dark);
  color: wheat;
  border: 2.5px solid gray;
  padding: 1rem;
  border-radius: 7px;
  box-shadow: 0 6px 15px rgba(238, 239, 241, 0.08);
  border-radius: 16px;
  overflow: hidden;
}

.feature h3 {
  margin-bottom: .5rem;
  font-size: x-large;
  color: var(--main);
}

.feature .content-span {
  font-size: medium;
  padding: 1rem;
  text-align: center;
}

@media (max-width: 1200px) {
  .home-page > .home-navbar {
    position: s!important;
    width: 100vw;
    background-color: #050505;
  }

  .first-section {
    margin-top: 0;
    height: 100vh;
    width: 100vw;
  }

  .first-heading {
    font-size: 5rem;
    padding-top: 10%;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
  }

  .started-btn {
    margin-top: 25px;
    height: 45px;
    width: max-content;
    padding: 3px 15px;
    border-radius: 25px;
    color: rgb(5, 5, 5);
    border: none;
    margin-bottom: 12%;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    margin-left: calc(50% - 110px);
    margin-right: calc(50% - 110px);
    text-align: center;
  }

  .started-btn:hover {
    background-image: linear-gradient(#464545 0, #090909 100%);
    color: var(--main);
  }

  .started-btn svg {
    text-align: center;
    height: 20px;
  }

  .second-section {
    width: 100vw;
    margin-top: 0;
    height: 50vh;
  }

  .second-section > h3 {
    font-size: 35px;
    padding-top: 17px;
    font-weight: normal;
  }

  .features-container {
    width: 100vw;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    gap: 15px 28px;
    height: auto;
  }

  .feature {
    margin: .5rem;
    height: max-content;
    width: 95%;
    min-height: 75px;
    background-color: none;
    color: #ffffff;
    padding: 1.5rem 1rem;
    border-radius: 9px;
    overflow: hidden;
    text-align: left;
  }

  .feature h3 {
    margin-bottom: .2rem;
    font-size: 25px;
    color: black;
    /* background: radial-gradient(circle at center, red, rgb(239, 243, 240));*/
    color: var(--main);
    
  }

  .feature .content-span {
    font-size: medium;
    padding: 5px;
    text-align: center;
  }
}

@media (max-width: 590px) {
  .home-page {
    width: 100vw;
    height: 100vh;
  }

  .home-page > .home-navbar {
    position: static!important;
    width: 100vw;
    background-color: #050505;
  }

  .first-section {
    margin-top: 0;
    height: 100vh;
    width: 100vw;
  }

  .first-heading {
    font-size: 3rem;
    padding-top: 10%;
    line-height: 75px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
  }

  .started-btn {
    margin-top: 35%;
    height: 50px;
    width: max-content;
    padding: 3px 15px;
    border-radius: 18px;
    color: rgb(5, 5, 5);
    border: none;
    margin-bottom: 12%;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    margin-left: calc(50% - 110px);
    margin-right: calc(50% - 110px);
    text-align: center;
  }

  .started-btn:hover {
    background-image: linear-gradient(#464545 0, #090909 100%);
    color: var(--main);
  }

  .started-btn svg {
    text-align: center;
    height: 20px;
  }

  .second-section {
    width: 100vw;
    margin-top: 0;
    height: 50vh;
  }

  .second-section > h3 {
    font-size: 35px;
    padding-top: 17px;
    font-weight: normal;
  }

  .features-container {
    width: 100vw;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    gap: 15px 28px;
    height: auto;
  }

  .feature {
    margin: .5rem;
    height: max-content;
    width: 88%;
    margin-left: auto;
    margin-right: auto;
    min-height: 75px;
    color: rgb(247, 245, 245);
    padding: 1.5rem 1rem;
    border-radius: 9px;
    overflow: hidden;
    text-align: left;
  }

  .feature h3 {
    padding: 0;
    margin-bottom: .2rem;
    color:var(--main)
  
  }

  .feature .content-span {
    margin-top: 7px;
    /* font-size: larger; */
    text-align: center;
  }
}

